{% extends 'base.html.twig' %}


{% block title %}Réservations{% endblock %}

{% block body %}
    <h1>Les réservations confirmées</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Date</th>
                <th>Heure de réservation</th>
                <th>Nom du client</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for reservation in reservations %}
            <tr>
                <td>{{ reservation.id }}</td>
                <td>{{ reservation.date ? reservation.date|date('Y-m-d') : '' }}</td>
                <td>{{ reservation.time ? reservation.time|date('H:i:s') : '' }}</td>
                <td>{{ reservation.user ? reservation.user}}</td>


                <td>
                    <a href="{{ path('app_reservation_show', {'id': reservation.id}) }}">Ouvrir</a>
                    <a href="{{ path('app_reservation_edit', {'id': reservation.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_reservation_new') }}">Nouvelle réservation</a>
{% endblock %}
