{% extends 'base.html.twig' %}


{% block body %}
	<h1 class="title p-2 text-center">Formulaire de contact</h1>
	<div class="contact_form m-3">
		{{ form_start(form) }}
		{{ form_errors(form) }}

		{{ form_row(form.name) }}
		{{ form_row(form.email) }}
		{{ form_row(form.message) }}

		<div class="contactform-button text-center">
			<button type="submit" class="btn-secondary rounded-2 p-2">Envoyer votre message</button>
		</div>
		{{ form_end(form) }}

	</div>


{% endblock body %}
