{% extends 'base.html.twig' %}


{% block body %}
	<h3 class="title p-2">Contactez-nous!!!</h3>
	<div class="contact_form m-3">
		{{ form_start(form) }}
		{{ form_errors(form) }}

		{{ form_row(form.name) }}
		{{ form_row(form.email) }}
		{{ form_row(form.message) }}


		<button type="submit" class="btn-secondary rounded-2 p-2">Envoyer votre message</button>
		{{ form_end(form) }}

	</div>


{% endblock body %}
