<nav class="navbar navbar-expand-xl bg-body-info text-light menu-info">
	<div class="container-fluid">
		<a class="navbar-brand link-light" href="{{ path ('app_home') }}">
			<h2 class="logo">Quai Antique</h2>
		</a>
		<button class="navbar-dark navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon active"></span>
		</button>
		<div class="collapse navbar-collapse text-center" id="navbarNav">
			<ul class="navbar-nav me-auto mb-2 mb-lg-0">
				<li class="nav-item ">
					<a class="nav-link" href="{{ path ('app_home') }}">Accueil</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{{ path ('app_dishes') }}">Plats</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{{ path ('app_menu') }}">Menus</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{{ path ('app_gallery') }}">Galerie</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{{ path ('app_contact') }}">Contact</a>
				</li>
			</ul>
			<div class="connexion-status">
				{% if app.user %}
					{{ app.user.username}}
					{{ app.user.firstname }}, connecté
				</div>
				<div class="navbar-nav ms-auto buttons">
					<div class="d-grid gap-1 d-md-flex justify-content-md-end">
						<button class="btn-primary me-md-2" type="button">
							<a class="nav-link" href="{{ path('app_logout') }}">Me déconnecter
							</a>
						</button>
						<button class="btn-primary" type="button">
							<a class="nav-link " href="{{ path ('app_reservation') }}">Réserver</a>
						</button>
						{% if 'ROLE_ADMIN' in app.user.roles %}
							<button type="button" class="btn-primary">
								<a class="nav-link " href="{{ path ('admin') }}">Administration</a>
							</button>
						{% endif %}
					</div>

				{% else %}

					<div class="navbar-nav ms-auto buttons">
						<div class="d-grid gap-1 d-md-flex justify-content-md-end">
							<button class="btn-primary me-md-2" type="button">
								<a class="nav-link link-light " href="{{ path ('app_register') }}">S'inscrire</a>
							</a>
						</button>
						<button class="btn-primary" type="button">
							<a class="nav-link link-light " href="{{ path ('app_login') }}">Se connecter</a>
						</button>
						<button type="button" class="btn-primary">
							<a class="nav-link link-light " href="{{ path ('app_reservation') }}">Réserver</a>
						</button>
					</div>

				{% endif %}
			</div>
		</div>
	</div>
</nav>
